CREATE OR ALTER   PROCEDURE [dbo].[NSP_STOCKISSUEREGISTER]	
--DECLARE
	@DATE1 DATETIME,
	@DATE2 DATETIME,
	@ware varchar(50) = '%',
	@WARE1 VARCHAR(50) = '%',
	@MCODE VARCHAR(100) = '%'

AS
--SELECT @DATE1 = '1 JAN 2000', @DATE2 = '31 DEC 2024'
BEGIN
	SELECT * FROM
	(
		SELECT A.TRNDATE,A.BSDATE,A.VCHRNO, A.CHALANNO, A.BILLTO FROMWAREHOUSE, A.BILLTOADD TOWAREHOUSE, SUM(B.RealQty) AS QTY,
		NULL AS Rate, CONVERT(NUMERIC(18,2), SUM(B.RealQty * B.RATE)) AMOUNT,A.REMARKS,ISNULL(A.VNUM,A.VCHRNO) VNUM,'A' AS FLAG, 'G' TYPE,A.DIVISION FROM RMD_TRNMAIN A 
		INNER JOIN RMD_TRNPROD B ON A.VCHRNO = B.VCHRNO 
		WHERE A.VCHRNO LIKE 'IS%' AND A.TRNDATE BETWEEN @DATE1 AND @DATE2 AND A.BILLTO LIKE @WARE AND A.BILLTOADD LIKE @WARE1 AND B.MCODE LIKE @MCODE
		GROUP BY A.TRNDATE,A.BSDATE,A.VCHRNO, A.CHALANNO, A.BILLTO, A.BILLTOADD,A.REMARKS,ISNULL(A.VNUM,A.VCHRNO),A.DIVISION
		UNION ALL
		select NULL TRNDATE,NULL BSDATE,NULL VCHRNO, NULL CHALANNO, B.MENUCODE,B.DESCA, A.QUANTITY AS QTY,
		CONVERT(NUMERIC(18,2),A.RATE) RATE,CONVERT(NUMERIC(18,2),A.QUANTITY * A.RATE) AMOUNT,NULL REMARKS,ISNULL(C.VNUM,C.VCHRNO) VNUM,'B' AS FLAG, 'A' TYPE,A.DIVISION FROM RMD_TRNPROD A
		INNER JOIN MENUITEM B ON A.MCODE = B.MCODE INNER JOIN RMD_TRNMAIN C ON A.VCHRNO = C.VCHRNO AND A.DIVISION = C.DIVISION
		WHERE A.VCHRNO LIKE 'IS%' AND REALQTY_IN <> 0 AND C.TRNDATE BETWEEN @DATE1 AND @DATE2 AND C.BILLTO LIKE @WARE AND C.BILLTOADD LIKE @WARE1 AND
		A.MCODE LIKE @MCODE
		UNION ALL
		select DISTINCT NULL TRNDATE,NULL BSDATE,NULL VCHRNO, NULL CHALANNO, NULL  FROMWAREHOUSE,NULL TOWAREHOUSE, NULL AS QTY,
		NULL AS Rate,NULL AMOUNT,NULL REMARKS,ISNULL(A.VNUM,A.VCHRNO) VNUM,'C' AS FLAG, 'A' TYPE,A.DIVISION FROM RMD_TRNMAIN A INNER JOIN RMD_TRNPROD B
		ON A.VCHRNO = B.VCHRNO AND A.DIVISION = B.DIVISION 
		WHERE A.VCHRNO LIKE 'IS%' AND A.TRNDATE BETWEEN @DATE1 AND @DATE2 AND A.BILLTO LIKE @WARE AND A.BILLTOADD LIKE @WARE1 AND B.MCODE LIKE @MCODE
		UNION ALL
		
		select NULL TRNDATE,NULL BSDATE,NULL VCHRNO, NULL CHALANNO, NULL MENUCODE,'TOTAL >>' DESCA, SUM(A.QUANTITY) AS QTY,
		NULL RATE,CONVERT(NUMERIC(18,2),SUM(A.QUANTITY * A.RATE)) AMOUNT,NULL REMARKS,'ZZ99999999999999' VNUM,'D' AS FLAG, 'G' TYPE,'ZZZZZZZZZZZZZZ' DIVISION FROM RMD_TRNPROD A
		INNER JOIN MENUITEM B ON A.MCODE = B.MCODE INNER JOIN RMD_TRNMAIN C ON A.VCHRNO = C.VCHRNO AND A.DIVISION = C.DIVISION
		WHERE A.VCHRNO LIKE 'IS%' AND REALQTY_IN <> 0 AND C.TRNDATE BETWEEN @DATE1 AND @DATE2 AND C.BILLTO LIKE @WARE AND C.BILLTOADD LIKE @WARE1 AND 
		A.MCODE LIKE @MCODE-- AND @MCODE <> '%'
	) AS Z ORDER BY DIVISION, CAST(RIGHT(VNUM,LEN(VNUM)-2) AS NUMERIC),FLAG

END


