CREATE OR ALTER   PROCEDURE [dbo].[RSP_STOCKISSUEREGISTER]	
	@DATE1 DATETIME,
	@DATE2 DATETIME,
	@WAREHOUSE varchar(50) = '%',
	@WAREHOUSETO VARCHAR(50) = '%',
	@MCODE VARCHAR(100) = '%'
AS
 EXEC NSP_STOCKISSUEREGISTER @DATE1, @DATE2, @WAREHOUSE, @WAREHOUSETO, @MCODE

 