CREATE OR ALTER  PROCEDURE [dbo].[RSP_CASHBOOK_DAYWISE]
--DECLARE
	@CASH_ACID AS VARCHAR(25),
	@DATE1 AS DATETIME,
	@DATE2 AS DATETIME,
	@DIVISION AS VARCHAR(3) = '%',
	@OPT_SHOWSUMMARY_REPORT TINYINT = 0,             --Summary:1,Detail:0
	@FYID VARCHAR(10)
AS
--SET @CASH_ACID = 'AT01002'; SET @DATE1 = '2023-07-16';SET @DATE2 = '2024-11-15'; SET @FYID = '80/81'

DECLARE @OPENINGBAL AS DECIMAL(25,8) = 0


SELECT @OPENINGBAL = ISNULL(SUM(DRAMNT - CRAMNT), 0) from RMD_TRNTRAN A
inner join RMD_TRNMAIN B on  A.VCHRNO=B.VCHRNO AND A.DIVISION=B.DIVISION where A_ACID IN (SELECT ACID FROM RMD_ACLIST WHERE MAPID = 'C' AND (@CASH_ACID = '%' OR ACID IN (SELECT * FROM DBO.SPLIT(@CASH_ACID, ','))))
and (B.TRNDATE < @DATE1 OR A.VoucherType LIKE 'OB%') AND B.DIVISION LIKE @DIVISION AND B.PhiscalID = @FYID

IF OBJECT_ID('TEMPDB..#TRNTRAN') IS NOT NULL DROP TABLE #TRNTRAN

SELECT B.VNUM, B.TRNDATE, B.BSDATE, B.CHALANNO, B.VCHRNO, A.A_ACID, A.DRAMNT, A.CRAMNT, A.B_ACID, A.NARATION, B.DIVISION, A.VoucherType
INTO #TRNTRAN FROM DBO.RMD_TRNTRAN_FN(@FYID) A 
JOIN RMD_TRNMAIN_FN(0,@FYID) B ON A.VCHRNO = B.VCHRNO AND A.VoucherType = B.VoucherType
WHERE A.A_ACID IN (SELECT ACID FROM RMD_ACLIST WHERE MAPID = 'C' AND (@CASH_ACID = '%' OR ACID IN (SELECT * FROM DBO.SPLIT(@CASH_ACID, ','))))
AND B.TRNDATE <= @DATE2 AND A.DIVISION LIKE @DIVISION

SELECT EDATE AS [DATE],MITI,VOUCHER,CHALANNO,PARTICULAR,
CONVERT(NUMERIC(18,2), DR) DR,CONVERT(NUMERIC(18,2), CR) CR,REPLACE( REPLACE(NARATION,CHAR(13),''),CHAR(10),'') AS NARATION,DIVISION FROM 
(

	select NULL EDATE, '' MITI, '' VOUCHER, '' CHALANNO, 'OPENING B/L' PARTICULAR,
	IIF(DRAMNT>CRAMNT, DRAMNT - CRAMNT, 0)  DR,
	IIF(CRAMNT>DRAMNT, CRAMNT - DRAMNT, 0)  CR,
	'' NARATION, 'A' ORD, @DATE1 DATES, 0 VNO, 'A' SORD, NULL DIVISION 
	FROM
	(
		SELECT SUM(DRAMNT) DRAMNT, SUM(CRAMNT) CRAMNT FROM #TRNTRAN
		WHERE TRNDATE < @DATE1 OR VCHRNO LIKE 'OB%'
	) A

	UNION ALL

	SELECT TRNDATE, BSDATE, VCHRNO, CHALANNO, ISNULL(Z.ACNAME, LP.Particulars) AS PARTICULAR,DRAMNT,CRAMNT,NARATION,ORD,DATES,VNO,SORD,DIVISION
	FROM
	(
		SELECT TRNDATE, BSDATE, VCHRNO, CHALANNO, B_ACID, SUM(DRAMNT)AS DRAMNT, SUM(CRAMNT) AS CRAMNT,NARATION, 'C' AS ORD,TRNDATE AS DATES,SUBSTRING(VNUM,3,LEN(VNUM)) AS VNO,'A' AS SORD,DIVISION  FROM 
		(
			SELECT A.VNUM, A.TRNDATE, A.CHALANNO, A.BSDATE, A.VCHRNO,  A.A_ACID, A.DRAMNT, A.CRAMNT,
			IIF(@OPT_SHOWSUMMARY_REPORT = 1, NULL, A.B_ACID) B_ACID, 
			A.NARATION, A.DIVISION FROM #TRNTRAN A
			WHERE A.VoucherType NOT IN ('SI', 'OP', 'AO', 'OB') AND A.TRNDATE >= @DATE1
		) AS Z GROUP BY VCHRNO,B_ACID, NARATION,CHALANNO,TRNDATE,BSDATE,DIVISION,VNUM
		HAVING SUM(DRAMNT - CRAMNT) <> 0

		UNION ALL

		SELECT TRNDATE,BSDATE,
		'SI' + CAST(MIN(CAST(SUBSTRING(VNUM, 3,LEN(VNUM)) AS INTEGER)) AS VARCHAR(25)) + ' - ' + CAST(MAX(CAST(SUBSTRING(VNUM, 3,LEN(VNUM)) AS INTEGER)) AS VARCHAR(25)) VOUCHER,
		NULL AS CHALANNO,B_ACID,SUM(DRAMNT) AS DRAMNT, SUM(CRAMNT) AS CRAMNT,NARATION,'C' AS ORD,TRNDATE AS DATES,99999 AS VNO,'B' AS SORD,DIVISION  FROM
		(
			SELECT A.VNUM, A.TRNDATE, A.BSDATE, A.VCHRNO,  A.A_ACID, A.DRAMNT, A.CRAMNT,
			IIF(@OPT_SHOWSUMMARY_REPORT = 1, NULL, A.B_ACID) B_ACID, 
			A.NARATION, A.DIVISION FROM #TRNTRAN A
			WHERE A.VoucherType  = 'SI' AND A.TRNDATE >= @DATE1
		) AS Z GROUP BY TRNDATE, BSDATE,B_ACID,DIVISION,NARATION
	) AS Y LEFT JOIN RMD_ACLIST Z ON Y.B_ACID = Z.ACID
	LEFT JOIN vwVoucherLedgerParticulars LP ON LEFT(Y.VCHRNO,2) = LP.VoucherType

	UNION ALL

	SELECT NULL AS EDATE,NULL AS BSDATE,NULL AS VOUCHER,NULL AS CHALANNO,'TOTAL >>' AS PARTICULAR, 
	SUM(ISNULL(DRAMNT,0)) AS DR,SUM(ISNULL(CRAMNT,0)) AS CR,'' AS REMARKS,
	'C' AS ORD,A.TRNDATE AS DATES,0 AS VNO,'D' AS SORD,NULL AS DIVISION FROM #TRNTRAN A
	where A.TRNDATE >= @DATE1 
	GROUP BY A.TRNDATE 

	UNION ALL

	SELECT NULL AS EDATE,NULL AS BSDATE,NULL AS VOUCHER,NULL AS CHALANNO,'CLOSING B/L >>' AS PARTICULAR, 
	CASE WHEN @OPENINGBAL + SUM(BAL) OVER (ORDER BY A.TRNDATE ROWS UNBOUNDED PRECEDING) > 0 THEN @OPENINGBAL + SUM(BAL) OVER (ORDER BY A.TRNDATE ROWS UNBOUNDED PRECEDING) ELSE 0 END DR,
	CASE WHEN @OPENINGBAL + SUM(BAL) OVER (ORDER BY A.TRNDATE ROWS UNBOUNDED PRECEDING) < 0 THEN ABS(@OPENINGBAL + SUM(BAL) OVER (ORDER BY A.TRNDATE ROWS UNBOUNDED PRECEDING)) ELSE 0 END CR,
	NULL AS REMARKS,
	'C' AS ORD,A.TRNDATE AS DATES,0 AS VNO,'E' AS SORD,NULL FROM 
	(
		SELECT TRNDATE, SUM(A.DRAMNT - A.CRAMNT) BAL FROM #TRNTRAN A
		WHERE A.TRNDATE >= @DATE1
		GROUP BY A.TRNDATE
	) A

	UNION ALL

	SELECT NULL AS EDATE,NULL AS BSDATE,NULL AS VOUCHER,NULL AS CHALANNO,NULL AS PARTICULAR, 
	NULL AS DR, NULL AS CR,
	NULL AS REMARKS,
	'C' AS ORD,A.TRNDATE AS DATES,0 AS VNO,'F' AS SORD,NULL FROM #TRNTRAN A WHERE A.TRNDATE >= @DATE1
	GROUP BY A.TRNDATE 

	UNION ALL

	SELECT NULL AS EDATE,NULL AS BSDATE,NULL AS VOUCHER,NULL AS CHALANNO,'OPENING B/L' AS PARTICULAR, 
	CASE WHEN @OPENINGBAL + SUM(BAL) OVER (ORDER BY A.TRNDATE ROWS UNBOUNDED PRECEDING) > 0 THEN @OPENINGBAL + SUM(BAL) OVER (ORDER BY A.TRNDATE ROWS UNBOUNDED PRECEDING) ELSE 0 END DR,
	CASE WHEN @OPENINGBAL + SUM(BAL) OVER (ORDER BY A.TRNDATE ROWS UNBOUNDED PRECEDING) < 0 THEN ABS(@OPENINGBAL + SUM(BAL) OVER (ORDER BY A.TRNDATE ROWS UNBOUNDED PRECEDING)) ELSE 0 END CR,
	NULL AS REMARKS,
	'C' AS ORD,A.TRNDATE AS DATES,0 AS VNO,'G' AS SORD,NULL FROM 
	(
		SELECT TRNDATE, SUM(A.DRAMNT - A.CRAMNT) BAL FROM #TRNTRAN A WHERE A.TRNDATE BETWEEN @DATE1 AND @DATE2
		GROUP BY A.TRNDATE
	) A

) B ORDER BY ORD,DATES,SORD,VNO
