CREATE OR ALTER PROCEDURE [dbo].[NSP_DELIVERYREGISTER_REPORT]  
--DECLARE   
@DATE1 DATETIME,  
@DATE2 DATETIME,  
@ACID VARCHAR(25)='%',  
@AGE NUMERIC(5,0) = 0,  
@BILLED TINYINT = 0,  
@DType VARCHAR(3) = '%',  
@WARE VARCHAR(25) = '%',  
@REPORT_TYPE TINYINT = 1,  
@MC VARCHAR(25) ='%',  
@PTYPE INT = 0
AS  
  
--SELECT  @DATE1 = '01-01-2018', @DATE2 = '09-19-2024'  
  
  
IF @PTYPE = 100  
SET @PTYPE = NULL  
set nocount on  
IF OBJECT_ID('TEMPDB..#TRNMAIN_DL') IS NOT NULL DROP TABLE #TRNMAIN_DL  
IF OBJECT_ID('TEMPDB..#TRNPROD_DL') IS NOT NULL DROP TABLE #TRNPROD_DL  
IF OBJECT_ID('TEMPDB..#WAREHOUSE') IS NOT NULL DROP TABLE #WAREHOUSE  
IF OBJECT_ID('TEMPDB..#SalesMain') IS NOT NULL DROP TABLE #SalesMain  
  
;WITH SalesMain AS  
(  
 SELECT DISTINCT M.VCHRNO, ISNULL(M.REFBILL, P.INVOICENO) REFBILL FROM TRNMAIN M JOIN TRNPROD P ON M.VCHRNO = P.VCHRNO
 UNION ALL  
 SELECT DISTINCT M.VCHRNO, ISNULL(M.REFBILL, P.INVOICENO) REFBILL FROM ABBMAIN M JOIN ABBPROD P ON M.VCHRNO = P.VCHRNO
)  
SELECT * INTO #SalesMain FROM SalesMain  
  
SELECT * INTO #WAREHOUSE FROM RMD_WAREHOUSE WHERE ISNULL(ISVIRTUAL, 0) = 0 AND ISNULL(ISDELWARE, '') = 0  
  
SELECT * INTO #TRNMAIN_DL FROM  
(  
	SELECT DISTINCT A.VCHRNO,A.TRNDATE, A.BSDATE,DATEDIFF(DAY,A.TRNDATE,GETDATE()) AGE,B.ACCODE, ISNULL(B.ACNAME, A.BILLTO) CUSTOMER,X.INVOICENO BILNO, C.REMARKS, A.BILLTO [TAKEN BY],'A' AS FLG,  
	A.VCHRNO VNO,1 SNO, A.TRNDATE + A.TRNTIME TTIME  
	FROM RMD_TRNMAIN A INNER JOIN RMD_TRNPROD X ON A.VCHRNO = X.VCHRNO AND A.DIVISION = X.DIVISION   
	INNER JOIN MENUITEM MI ON X.MCODE = MI.MCODE  
	LEFT JOIN RMD_ACLIST B ON A.TRNAC = B.ACID   
	LEFT JOIN #SalesMain S ON S.REFBILL = A.VCHRNO
	OUTER APPLY OPENJSON(IIF(ISJSON(A.REMARKS) =1, A.REMARKS, CONCAT('{"REMARKS":"',A.REMARKS, '"}'))) 
	WITH
	(
		REMARKS VARCHAR(MAX) '$.REMARKS',
		TAKENBY VARCHAR(MAX) '$.TakenBy'
	) C
	WHERE ((@DType = '%' AND LEFT(A.VCHRNO,2) IN ('DL','DR')) OR (@DType <> '%' AND A.VCHRNO LIKE @DType))  
	AND A.TRNDATE BETWEEN @DATE1 AND @DATE2 AND ISNULL(A.TRNAC, '') LIKE @ACID AND ((@AGE = 0 AND DATEDIFF(DAY,A.TRNDATE,GETDATE()) < 1000000) OR (@AGE <> 0 AND DATEDIFF(DAY,A.TRNDATE,GETDATE()) > @AGE))   
	AND ((@BILLED = 1 AND ISNULL(S.VCHRNO,'') <> '') OR (@BILLED = 2 AND ISNULL(S.VCHRNO,'') = '')  OR (@BILLED = 0 AND ISNULL(S.VCHRNO,'') LIKE '%'))  
	AND X.WAREHOUSE LIKE @WARE AND X.MCODE LIKE @MC AND ISNULL(@PTYPE, MI.PTYPE) = MI.PTYPE  
) A  

--SELECT * FROM #TRNMAIN_DL  
  
  
  
SELECT * INTO #TRNPROD_DL FROM   
(  
 SELECT C. VCHRNO, C.TRNDATE,C.BSDATE ,DATEDIFF(DAY,C.TRNDATE,GETDATE()) AGE,X.ACCODE, ISNULL(X.ACNAME, C.BILLTO) CUSTOMER,MI.MENUCODE,MI.DESCA,  
 CASE WHEN LEFT(A.VCHRNO,2) <> 'DR' THEN A.QUANTITY ELSE A.QUANTITY *-1 END QUANTITY,  
 A.RATE,CASE WHEN LEFT(A.VCHRNO,2) <> 'DR' THEN A.AMOUNT ELSE A.AMOUNT*-1 END AMOUNT,  
 S.VCHRNO REFBILL,D.REMARKS, ISNULL(D.TAKENBY, C.BILLTO) TAKENBY,'B' AS FLG,A.VCHRNO VNO,A.SNO, C.TRNDATE + C.TRNTIME TTIME  
 FROM RMD_TRNPROD A INNER JOIN RMD_TRNMAIN C ON A.VCHRNO = C.VCHRNO AND A.DIVISION = C.DIVISION   
 JOIN MENUITEM MI ON A.MCODE = MI.MCODE  
 JOIN #WAREHOUSE W ON A.WAREHOUSE = W.NAME  
 LEFT JOIN RMD_ACLIST X ON C.TRNAC = X.ACID  
 LEFT JOIN #SalesMain S ON S.REFBILL = C.VCHRNO
 OUTER APPLY OPENJSON(IIF(ISJSON(C.REMARKS) =1, C.REMARKS, CONCAT('{"REMARKS":"',A.REMARKS, '"}'))) 
	WITH
	(
		REMARKS VARCHAR(MAX) '$.REMARKS',
		TAKENBY VARCHAR(MAX) '$.TakenBy'
	) D
 WHERE  A.WAREHOUSE LIKE @WARE AND A.MCODE LIKE @MC AND ISNULL(@PTYPE, MI.PTYPE) = MI.PTYPE AND  
 ((@DType = '%' AND LEFT(A.VCHRNO,2) IN ('DL','DR')) OR (@DType <> '%' AND A.VCHRNO LIKE @DType))  
 AND C.TRNDATE BETWEEN @DATE1 AND @DATE2 AND ISNULL(C.TRNAC,'') LIKE @ACID AND ((@AGE = 0 AND DATEDIFF(DAY,C.TRNDATE,GETDATE()) < 1000000) OR (@AGE <> 0 AND DATEDIFF(DAY,C.TRNDATE,GETDATE()) > @AGE))  
 AND ((@BILLED = 1 AND ISNULL(S.VCHRNO,'') <> '') OR (@BILLED = 2 AND ISNULL(S.VCHRNO,'') = '')  OR (@BILLED = 0 AND ISNULL(S.VCHRNO,'') LIKE '%'))  
)A  
  
--SELECT * FROM #TRNPROD_DL   
  
IF @REPORT_TYPE = 1   -- ENTRY WISE  
	 SELECT * FROM   
	 (  
		 SELECT A.VCHRNO, A.TRNDATE, A.BSDATE, A.AGE, A.ACCODE CODE, A.CUSTOMER, NULL QTY, NULL RATE, NULL AMOUNT, A.BILNO, A.REMARKS, A.[TAKEN BY], A.FLG, A.VNO, A.SNO, A.TTIME, 'G' [TYPE] FROM #TRNMAIN_DL A
		 UNION ALL  
		 SELECT NULL VCHRNO, NULL TRNDATE, NULL BSDATE, NULL AGE, P.MENUCODE [CODE], P.DESCA [ITEM], P.QUANTITY, CONVERT(DECIMAL(18,2), P.RATE), CONVERT(DECIMAL(18,2), P.AMOUNT), P.REFBILL [BILNO], NULL REMARKS, NULL [TAKEN BY], P.FLG, P.VNO, P.SNO, P.TTIME, 'A' [TYPE] FROM #TRNPROD_DL P 
		 UNION ALL  
		 SELECT NULL VCHRNO, NULL TRNDATE, NULL BSDATE, NULL AGE,NULL [CODE], 'TOTAL >>' [ITEM],SUM(QUANTITY) QTY,NULL RATE,CONVERT(DECIMAL(18,2), SUM(AMOUNT)) AMOUNT,NULL BILNO,NULL REMARKS,NULL [TAKEN BY],'C' FLG, VNO, 0 SNO, TTIME TTIME, 'G' [TYPE]  
		 FROM #TRNPROD_DL GROUP BY TTIME, VNO 
		 UNION ALL  
		 SELECT DISTINCT NULL VCHRNO, NULL TRNDATE, NULL BSDATE, NULL AGE, NULL [CODE],NULL ITEM,NULL QTY,NULL RATE,NULL AMOUNT,NULL BILNO,NULL REMARKS,NULL [TAKEN BY],'E' FLG, VNO, SNO, TTIME, 'A' [TYPE]   FROM #TRNMAIN_DL
		 UNION ALL  
		 SELECT NULL VCHRNO, NULL TRNDATE, NULL BSDATE, NULL AGE, NULL [CODE], 'GRAND TOTAL >>' ITEM,SUM(QUANTITY),NULL RATE,CONVERT(DECIMAL(18,2), SUM(AMOUNT)),NULL,NULL,NULL,'D'FLG,'ZZZZZZZZZZZZZZZZZ' VNO,0 SNO, '2050-12-01' TTIME, 'G' [TYPE]
		 FROM #TRNPROD_DL 
   
	 ) A ORDER BY TTIME, VNO,FLG,A.CUSTOMER  
  
ELSE IF @REPORT_TYPE = 2   -- CUSTOMER WISE  
	 SELECT * FROM   
	 (  
		  SELECT DISTINCT 'CUSTOMER :' VCHRNO,NULL TRNDATE,NULL BSDATE,NULL AGE, NULL ITEMCODE,A.CUSTOMER,NULL QTY, NULL RATE,NULL AMOUNT,NULL BILLNO,NULL REMARKS,NULL TAKENBY,'A' FLG, A.CUSTOMER CST, NULL TDATE, 'G' [TYPE]  FROM #TRNMAIN_DL A  
		  UNION ALL  
		  SELECT VNO VCHRNO,A.TRNDATE,A.TRNDATE,A.AGE,A.MENUCODE,A.DESCA,A.QUANTITY,CONVERT(DECIMAL(18,2),A.RATE) RATE, CONVERT(DECIMAL(18,2),A.AMOUNT) AMOUNT,A.REFBILL,A.REMARKS,A.TAKENBY,'B' FLG, A.CUSTOMER CST, A.TTIME TDATE, 'A' [TYPE] FROM #TRNPROD_DL A   
		  UNION ALL  
		  SELECT NULL VCHRNO,NULL TDATE,NULL BDATE,NULL AGE,NULL MENUCODE,'TOTAL >>' DESCA,SUM(A.QUANTITY)QTY ,NULL RATE, CONVERT(DECIMAL(18,2),SUM(A.AMOUNT)) AMOUNT,NULL BILLNO,NULL RMK,NULL TKNBY,'C' FLG,A.CUSTOMER CST,NULL TDATE, 'G' [TYPE] FROM #TRNPROD_DL A GROUP BY A.CUSTOMER  
		  UNION ALL  
		  SELECT DISTINCT NULL VCHRNO,NULL TRNDATE,NULL BSDATE,NULL AGE, NULL ITEMCODE,NULL ITEM,NULL QTY, NULL RATE,NULL AMOUNT,NULL BILLNO,NULL REMARKS,NULL TAKENBY,'D' FLG,A.CUSTOMER CST,NULL TDATE, 'A' [TYPE] FROM #TRNMAIN_DL A  
		  UNION ALL  
		  SELECT NULL VCHRNO,NULL TDATE,NULL BDATE,NULL AGE,NULL MENUCODE,'GRAND TOTAL >>' DESCA,SUM(A.QUANTITY)QTY ,NULL RATE, CONVERT(DECIMAL(18,2),SUM(A.AMOUNT)) AMOUNT,NULL BILLNO,NULL RMK,NULL TKNBY,'E' FLG,'ZZZZZZZZZZZZ' CST,NULL TDATE, 'G' [TYPE] FROM #TRNPROD_DL A  
		  /*
		  */
	 ) A ORDER BY CST, FLG,TDATE  
  
ELSE IF @REPORT_TYPE = 3   -- ITEM WISE  
	 SELECT * FROM   
	 (  
		 SELECT DISTINCT 'ITEM :' VCHRNO,NULL TRNDATE,NULL BSDATE,NULL AGE, A.MENUCODE ITEMCODE,A.DESCA ITEM,NULL QTY, NULL RATE,NULL AMOUNT,NULL BILLNO,NULL REMARKS,NULL TAKENBY,'A' FLG,A.DESCA MC, 'G' [TYPE] FROM #TRNPROD_DL A  
		 UNION ALL  
		 SELECT VNO VCHRNO,A.TRNDATE,A.BSDATE,A.AGE,NULL MENUCODE,A.CUSTOMER DESCA,A.QUANTITY, CONVERT(DECIMAL(18,2),A.RATE) RATE, CONVERT(DECIMAL(18,2),A.AMOUNT) AMOUNT,A.REFBILL,A.REMARKS,A.TAKENBY,'B' FLG,A.DESCA MC, 'A' [TYPE] FROM #TRNPROD_DL A   
		 UNION ALL  
		 SELECT NULL VCHRNO,NULL TDATE,NULL BDATE,NULL AGE,NULL MENUCODE,'TOTAL >>' DESCA,SUM(A.QUANTITY)QTY ,NULL RATE, CONVERT(DECIMAL(18,2),SUM(A.AMOUNT)) AMOUNT,NULL BILLNO,NULL RMK,NULL TKNBY,'C' FLG,A.DESCA MC, 'G' [TYPE] FROM #TRNPROD_DL A GROUP BY A.DESCA  
		 UNION ALL  
		 SELECT DISTINCT NULL VCHRNO,NULL TRNDATE,NULL BSDATE,NULL AGE, NULL ITEMCODE,NULL ITEM,NULL QTY, NULL RATE,NULL AMOUNT,NULL BILLNO,NULL REMARKS,NULL TAKENBY,'D' FLG,A.DESCA MC, 'A' [TYPE] FROM #TRNPROD_DL A  
		 UNION ALL  
		 SELECT NULL VCHRNO,NULL TDATE,NULL BDATE,NULL AGE,NULL MENUCODE,'GRAND TOTAL >>' DESCA,SUM(A.QUANTITY)QTY ,NULL RATE, CONVERT(DECIMAL(18,2),SUM(A.AMOUNT)) AMOUNT,NULL BILLNO,NULL RMK,NULL TKNBY,'E' FLG,'ZZZZZZZZZZZZZZZZZZZZ' MC, 'G' [TYPE] FROM #TRNPROD_DL A   
	 ) A ORDER BY MC,FLG  
  
ELSE IF @REPORT_TYPE = 4   -- CUSTOMER WISE (SUMMAREY REPORT)  
 SELECT * FROM   
 (  
	  SELECT DISTINCT 'CUSTOMER :' ITEMCODE,A.CUSTOMER DESCA,NULL DELQTY,NULL DRETURNQTY,NULL NETQTY, NULL RATE,NULL AMOUNT,'A' FLG,A.CUSTOMER CST, 'G' [TYPE] FROM #TRNPROD_DL A 
		GROUP BY A.MENUCODE,A.DESCA,A.CUSTOMER HAVING SUM(QUANTITY) <> 0  
	  
	  UNION ALL  
	  
	  SELECT A.MENUCODE,A.DESCA,SUM(CASE WHEN LEFT(VNO,2) = 'DL' THEN A.QUANTITY ELSE 0 END) DQTY
		  ,SUM(CASE WHEN A.VNO LIKE 'DR%' THEN ABS(A.QUANTITY) ELSE 0 END) DRQTY, SUM(QUANTITY) NETQTY
		  ,CONVERT(DECIMAL(18,2),CASE WHEN SUM(QUANTITY) = 0 THEN NULL ELSE SUM(AMOUNT)/SUM(QUANTITY) END) RATE, CONVERT(DECIMAL(18,2),SUM(A.AMOUNT)) AMOUNT,'B' FLG,A.CUSTOMER, 'A' [TYPE] FROM #TRNPROD_DL A   
		  GROUP BY A.MENUCODE,A.DESCA,A.CUSTOMER HAVING SUM(QUANTITY) <> 0  
	  
	  UNION ALL  
	  
	  SELECT NULL MENUCODE,'TOTAL >>' DESCA,SUM(CASE WHEN VNO LIKE 'DL%' THEN A.QUANTITY ELSE 0 END) DQTY
		  ,SUM(CASE WHEN VNO LIKE 'DR%' THEN ABS(A.QUANTITY) ELSE 0 END) DRQTY,SUM(QUANTITY) NETQTY,NULL RATE, CONVERT(DECIMAL(18,2),SUM(A.AMOUNT)) AMOUNT,'C' FLG
		  ,A.CUSTOMER , 'G' [TYPE] FROM #TRNPROD_DL A GROUP BY A.CUSTOMER  HAVING SUM(QUANTITY) <> 0  
	  
	  UNION ALL  
	  
	  SELECT DISTINCT NULL ITEMCODE,NULL ITEM,NULL DQTY,NULL RQTY,NULL NQTY, NULL RATE,NULL AMOUNT,'D' FLG,A.CUSTOMER, 'A' [TYPE] FROM #TRNPROD_DL A 
		GROUP BY A.MENUCODE,A.DESCA,A.CUSTOMER HAVING SUM(QUANTITY) <> 0  
	  
	  UNION ALL  
	  
	  SELECT NULL MENUCODE,'GRAND TOTAL >>' DESCA,NULL,NULL,SUM(A.QUANTITY) QTY,NULL RATE, CONVERT(DECIMAL(18,2),SUM(A.AMOUNT)) AMOUNT,'E' FLG,'ZZZZZZZZZZZZ' CST, 'G' [TYPE] FROM #TRNPROD_DL A  
 ) A ORDER BY CST,FLG,DESCA  
  
 set nocount OFF


 
