CREATE OR ALTER PROCEDURE [dbo].[NSP_JOURNALBOOK_ACID]
--DECLARE
	@DATE1 DATETIME,
	@DATE2 DATETIME,
	@DIV varchar(10)='%',
	@SERIES AS VARCHAR(15) = '%',
	@CCENTER VARCHAR(50) = '%',
	@VNO1 FLOAT = 0,
	@VNO2 FLOAT = 0,
	@REPMODE TINYINT = 0,
	@ACID VARCHAR(25) = '%'
AS
/*
SET @DATE1 = '01-01-2016'
SET @DATE2 = '01-01-2018'
SET @REPMODE = 0
*/
set nocount on

SET @SERIES = @SERIES + '%'

	IF OBJECT_ID('TEMPDB..#VLIST') is not null drop table #VLIST

	SELECT DISTINCT A.VCHRNO,A.DIVISION,A.PhiscalID INTO #VLIST 
	FROM RMD_TRNMAIN A INNER JOIN RMD_JOURNAL B ON A.VCHRNO = B.VCHRNO AND A.DIVISION = B.DIVISION
	WHERE B.ACID LIKE @ACID AND ((@REPMODE = 0 AND A.TRNDATE BETWEEN @DATE1 AND @DATE2) OR (@REPMODE = 1 AND TRY_CONVERT(NUMERIC, SUBSTRING(ISNULL(A.VNUM,A.VCHRNO),3,LEN(ISNULL(A.VNUM,A.VCHRNO)))) BETWEEN @VNO1 AND @VNO2))
	AND A.VCHRNO LIKE @SERIES and A.DIVISION like @DIV AND dbo.getvouchertype(A.VCHRNO) like 'JV'
	
	SELECT TRNDATE, BSDATE,VCHRNO,CHALANNO, ACID, ACNAME, CASE WHEN(DRAMNT=0) THEN  NULL ELSE DRAMNT END AS DRAMNT, 
	CASE WHEN(CRAMNT=0) THEN  NULL ELSE CRAMNT END AS CRAMNT, 
	CASE WHEN CHARINDEX(CHAR(10),NARRATION,0) >0 THEN LEFT(NARRATION,LEN(NARRATION)-2) ELSE NARRATION END as NARRATION,
	COSTCENTER,DIVISION,TRNUSER,TRNTIME,POSTUSER,DIV,FLAG	
	FROM
	(
	SELECT A.TRNDATE,A.BSDATE,A.VCHRNO,A.CHALANNO,NULL ACID, NULL ACNAME, NULL DRAMNT,  NULL CRAMNT, A.REMARKS NARRATION,NULL COSTCENTER,D.NAME DIVISION,A.TRNUSER,A.TRNTIME,A.POSTUSER,D.INITIAL DIV, A.TRNDATE AS TDATE,ISNULL(A.VNUM,A.VCHRNO) AS VCHR, 'A' AS FLAG,0 SNO
	FROM RMD_TRNMAIN A INNER JOIN DIVISION D ON A.DIVISION = D.INITIAL INNER JOIN #VLIST X ON A.VCHRNO = X.VCHRNO AND A.DIVISION = X.DIVISION AND A.PhiscalID = X.PHISCALID
	WHERE ((@REPMODE = 0 AND A.TRNDATE BETWEEN @DATE1 AND @DATE2) OR (@REPMODE = 1 AND TRY_CONVERT(NUMERIC, SUBSTRING(ISNULL(A.VNUM,A.VCHRNO),3,LEN(ISNULL(A.VNUM,A.VCHRNO)))) BETWEEN @VNO1 AND @VNO2))
	AND A.VCHRNO LIKE @SERIES and A.DIVISION like @DIV AND dbo.getvouchertype(A.VCHRNO) like 'JV'
	UNION ALL

	SELECT NULL VCHRNO, NULL CHALANNO, NULL TRNDATE,  NULL BSDATE, C.ACID,
	C.ACNAME, B.DRAMNT,  B.CRAMNT, B.NARRATION,B.COSTCENTER,NULL  DIVISION,NULL TRNUSER,NULL TRNTIME,NULL POSTUSER,D.INITIAL DIV, TRNDATE AS TDATE,ISNULL(A.VNUM,A.VCHRNO) AS VCHR, 'B' AS FLAG,B.SNO
	FROM RMD_TRNMAIN A INNER JOIN RMD_JOURNAL B ON A.VCHRNO = B.VCHRNO AND A.DIVISION = B.DIVISION INNER JOIN
	RMD_ACLIST C ON B.ACID = C.ACID INNER JOIN DIVISION D ON A.DIVISION = D.INITIAL INNER JOIN #VLIST X ON A.VCHRNO = X.VCHRNO AND A.DIVISION = X.DIVISION AND A.PhiscalID = X.PHISCALID
	WHERE ((@REPMODE = 0 AND A.TRNDATE BETWEEN @DATE1 AND @DATE2) OR (@REPMODE = 1 AND TRY_CONVERT(NUMERIC, SUBSTRING(ISNULL(A.VNUM,A.VCHRNO),3,LEN(ISNULL(A.VNUM,A.VCHRNO)))) BETWEEN @VNO1 AND @VNO2))
	AND A.VCHRNO LIKE @SERIES and A.DIVISION like @DIV AND dbo.getvouchertype(A.VCHRNO) like 'JV'
	
	UNION ALL
	
	SELECT NULL,NULL,NULL,NULL, NULL,'TOTAL >>' ACNAME, SUM(B.DRAMNT) DRAMNT,  SUM(B.CRAMNT) CRAMNT, NULL NARATION,NULL,NULL,NULL,NULL,NULL, A.DIVISION DIV, A.TRNDATE AS TDATE,ISNULL(A.VNUM,A.VCHRNO) AS VCHR, 'C' AS FLAG,0 SNO
	FROM RMD_TRNMAIN A INNER JOIN RMD_JOURNAL B ON A.VCHRNO = B.VCHRNO AND A.DIVISION = B.DIVISION INNER JOIN #VLIST X ON A.VCHRNO = X.VCHRNO AND A.DIVISION = X.DIVISION AND A.PhiscalID = X.PHISCALID
	WHERE ((@REPMODE = 0 AND A.TRNDATE BETWEEN @DATE1 AND @DATE2) OR (@REPMODE = 1 AND TRY_CONVERT(NUMERIC, SUBSTRING(ISNULL(A.VNUM,A.VCHRNO),3,LEN(ISNULL(A.VNUM,A.VCHRNO)))) BETWEEN @VNO1 AND @VNO2))
	AND A.VCHRNO LIKE @SERIES and A.DIVISION like @DIV AND dbo.getvouchertype(A.VCHRNO) like 'JV'
	GROUP BY A.DIVISION,A.TRNDATE,A.VCHRNO, A.VNUM
	
	UNION ALL
	
	SELECT NULL,NULL,NULL,NULL, NULL,NULL ACNAME, NULL DRAMNT,  NULL CRAMNT, NULL NARATION,NULL,NULL,NULL,NULL,NULL, A.DIVISION DIV, A.TRNDATE AS TDATE,ISNULL(A.VNUM,A.VCHRNO) AS VCHR, 'D' AS FLAG,0 SNO
	FROM RMD_TRNMAIN A INNER JOIN #VLIST X ON A.VCHRNO = X.VCHRNO AND A.DIVISION = X.DIVISION AND A.PhiscalID = X.PHISCALID
	WHERE ((@REPMODE = 0 AND A.TRNDATE BETWEEN @DATE1 AND @DATE2) OR (@REPMODE = 1 AND TRY_CONVERT(NUMERIC, SUBSTRING(ISNULL(A.VNUM,A.VCHRNO),3,LEN(ISNULL(A.VNUM,A.VCHRNO)))) BETWEEN @VNO1 AND @VNO2))
	AND A.VCHRNO LIKE @SERIES and A.DIVISION like @DIV AND dbo.getvouchertype(A.VCHRNO) like 'JV'


			
	UNION ALL
	
	SELECT NULL,NULL,NULL,NULL, NULL,'GRAND TOTAL >>' ACNAME, SUM(B.DRAMNT) DRAMNT,  SUM(B.CRAMNT) CRAMNT, NULL NARATION,NULL,NULL,NULL,NULL,NULL, 'ZZZZZZZZZ' DIV, '01-01-2050' AS TDATE,'ZZ1' AS VCHR, 'Z' AS FLAG,0 SNO
	FROM RMD_TRNMAIN A INNER JOIN RMD_JOURNAL B ON A.VCHRNO = B.VCHRNO AND A.DIVISION = B.DIVISION INNER JOIN #VLIST X ON A.VCHRNO = X.VCHRNO AND A.DIVISION = X.DIVISION AND A.PhiscalID = X.PHISCALID
	WHERE ((@REPMODE = 0 AND A.TRNDATE BETWEEN @DATE1 AND @DATE2) OR (@REPMODE = 1 AND TRY_CONVERT(NUMERIC, SUBSTRING(ISNULL(A.VNUM,A.VCHRNO),3,LEN(ISNULL(A.VNUM,A.VCHRNO)))) BETWEEN @VNO1 AND @VNO2))
	AND A.VCHRNO LIKE @SERIES and A.DIVISION like @DIV AND dbo.getvouchertype(A.VCHRNO) like 'JV'
	
	
	) AS Z ORDER BY TDATE,DIV,LEFT(VCHR,2), CAST(SUBSTRING(VCHR,3, LEN(VCHR)) AS NUMERIC),FLAG,SNO


	IF OBJECT_ID('TEMPDB..#VLIST') is not null drop table #VLIST

set nocount off
